/* common style */

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.container{
     width: 1000px;
}

/* header style */

header{
    background-color: #2D25A0;
    width: 100%;
    height: 500px;
    display: flex;
    
}

.header-text {
    margin-top:60px;
    margin-left: 130px;
    margin-right: 150px;
}

.header-text h1{
    color: white;
    font-size: 48px ;
    font-weight: 700;
}

.header-text a{
    background-color:#E02C6D;
    padding: 10px 24px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.header-text a:hover{
    background-color: white;
    color:#E02C6D;
} 


.header-image{
    margin-top: 40px;
}

.header-image img{
    height: 400px;
    width: 500px;
}


/* player */

#players{
    margin-top: 70px;
}

.player{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   grid-row-gap: 20px;
   grid-column-gap: 20px;
}

.player artical{
    box-shadow: 0 0 10px gray;
    padding: 10px;
    display: inline;
}

.player-thumbnail{
    height: 256px; 
    width: 100%;
}

.player-heading{
    font-size: 28px;
}

.player-detail{
    font-size: 16px;
    color: #6C6C6C;
    margin-top: -10px;
}


/* about us */

.about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    padding: 10px;
    padding-bottom: 30px;
    box-shadow: 0 0 20px black;
}

.about-us h1{
    font-size: 48px;
    margin: 0;
    margin-top: 20px;
}
/* feedback */

#feedback{
    margin-top: 50px;
}

.feedback h1{
    font-size: 36px;
    
}

input{
    padding: 10px 0;
    width: 100%;
}

textarea{
    width: 100%;
}

/* footer */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-image img{
    width: 470px
}


.footer-social i{
    font-size: 20px;
    color: #6C6C6C;
    background-color: #E7E7E8;
    padding: 10px;
    border-radius: 50%;
    margin: 0 5px;
}

.footer-text{
    font-size: 18px;
}



/* Responsive */

/* mobile */ 


@media only screen and (max-width:688px) {



.container{
    width: 100%;
}

header{
    flex-direction: column;
    height: 700px;
    width: 100%;
}

.header-text {
    margin: 0;
    padding-left: 16px;
}

.header-text h1{
    font-size: 36px;
}

.header-image img{
    height: 300px;
    width: 330px;
}

#players{
    margin-top: 47px;
    width: 100%;
}
.player{
    grid-template-columns: 1fr;
    background-color: #EEEEEE;;
    padding-bottom: 30px;
}

artical{
    background-color: white;
    box-shadow: none;
    margin-top:24px;
    margin-right:15px;
    margin-left:15px;
}

footer{
    width: 100%;
    margin-top: 10px;
}
.footer-image img {
    width: 300px;
}

 

}



